Repository EvHaus/youtube-hide-watched: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier-package-json

eslint:
  run: pnpm eslint-globex --fix {staged_files} && git add {staged_files}

prettier-package-json:
  run: pnpm prettier-package-json --use-tabs --write {staged_files} && git add {staged_files}

v5.11 Another fix for #181
  main.user.js
Due: eslint

Switch to dynamic pnpm version
  .github/workflows/workflow.yml
Due: none

Switch to actions/checkout@v4 branch for CI
  .github/workflows/workflow.yml
Due: none

Use button instead of GM_registerMenuCommand
  main.user.js
Due: eslint

eslint-disable max-len
  main.user.js
Due: eslint

Use button instead of GM_registerMenuCommand (#163)
  main.user.js
Due: eslint

v6 Menu system rewrite and optimizations
  main.user.js
Due: eslint

v6.1 Fix for light theme
  main.user.js
Due: eslint

Restore button styling; add hyperlink in Settings
  main.user.js
Due: eslint

Changes per eslint
  main.user.js
Due: eslint

Restore button styling; add hyperlink in Settings (#194)
  main.user.js
Due: eslint

chore(deps): lockfile reset
  pnpm-lock.yaml
Due: none

Add noframes to prevent activating on non-YT sites with embeded videos
  main.user.js
Due: eslint

v6.3 version up
  main.user.js
  package.json
Due: eslint, prettier-package-json

Add new container class
  main.user.js
Due: eslint

Version up to 6.4
  main.user.js
Due: eslint

Switch from ESLint to Biome
  .eslintrc
  .github/renovate.json
  .npmrc
  .vscode/settings.json
  biome.json
  lefthook.yml
  main.user.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier-package-json

Handle Trusted Types (fixes #235)
  main.user.js
Due: eslint

Update main.user.js
  main.user.js
Due: eslint

chore: Upgrade to latest biome version
  biome.json
  main.user.js
Due: eslint

Version up to 6.6
  main.user.js
Due: eslint

chore: enable new Biome rules
  biome.json
Due: none

fix: Update watched element selectors for new Home page changes
  main.user.js
Due: eslint

fix(319): Fixes bug with over-optimization preventing the script from loading
  main.user.js
Due: eslint

fix(330): Fix for other userscript compatibility
  main.user.js
Due: eslint

chore: Allow lefthook to be pnpm installed
  pnpm-workspace.yaml
Due: none

fix(336): Fix an infinite loop in re-injection of script buttons
  main.user.js
Due: eslint

fix: Don't error when single non-class item is added through mutation
  main.user.js
Due: eslint

refactor: Refactor normal video hiding to more easilly extend it with more filtering options
  main.user.js
Due: eslint

feat: Add the option to hide previous, current, and scheduled youtube streams
  main.user.js
Due: eslint

doc: Specify that upcomming videos are also hidden when hiding scheduled streams
  main.user.js
Due: eslint

doc: Add explanation to README and update help link to point to new section
  README.md
  main.user.js
  streamed_identifier.png
Due: eslint

fix: Fix help link
  main.user.js
Due: eslint

feat(342): Store misc configuration separate from search configuration
  main.user.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier-package-json: any of: package.json
